VITE_AUTH0_DOMAIN=charlottenc.co
VITE_AUTH0_CLIENT_ID=v42X1dA5o83fPMhYGHYxIgyoKk4oLaeL
VITE_AUTH0_AUDIENCE=https://resident-api.cltsharp.charlottenc.gov

VITE_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
