ConnectionStrings__ServiceRequests=Host=localhost;Port=5432;Database=cltsharp_service_requests;Username=cltsharp_employee;Password=change-me-employee
ConnectionStrings__Police=Host=localhost;Port=5433;Database=cltsharp_police;Username=cltsharp_police_employee;Password=change-me-employee-police
ConnectionStrings__Fire=Host=localhost;Port=5434;Database=cltsharp_fire;Username=cltsharp_fire_employee;Password=change-me-employee-fire
ConnectionStrings__Airport=Host=localhost;Port=5435;Database=cltsharp_airport;Username=cltsharp_airport_employee;Password=change-me-employee-airport
Auth0__Domain=charlottenc.co
Auth0__Audience=https://employee-api.cltsharp.charlottenc.gov
NetworkSecurity__CountryHeader=CF-IPCountry
NetworkSecurity__FailClosedWhenCountryMissing=false
